.body {
  height: 200px;
}
.response {
  height: 550px;
}
.history {
  overflow: scroll;
}
.type {
  background-color: #f5f5f4;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  font-size: 12px;
}
.form-group, .form-actions {
  position: relative;
}
img[class^="loading-"] {
  position: absolute;
  top: 38px;
  z-index: 1;
  right: 40px;
}
.loading {
  filter: blur(2px);
  opacity: 0.2;
}
.hidden {
  opacity: 0;
  transform: scale(0,0);
  pointer-events: none;
}
.logs-group.hidden {
  height: 0;
  overflow: hidden;
}
/**/
.pane.main-pane {
  overflow-y: hidden;
}
.selectors {
  padding: 20px 20px 0 20px;
}
label[for^="body-"] {
  padding: 0 20px 0 20px;
}
.loader {
  background-image: url(loader.svg), none;
  width: 32px;
  height: 32px;
  display: none;
}